.btnthemmoi {
    -fx-text-fill: #e9eef1;
    -fx-transition: all 0.5s ease;
}

.btnthemmoi:hover {
    -fx-text-fill: #e9eef1;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


.btnmenu:hover {
    -fx-text-fill: #0099FF;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.exampn:hover{
    -fx-cursor: hand;
}
.profile-txt{
    -fx-text-fill:#6e6a6e;
}


.table-view {
    -fx-background-color: #f5f5f5; /* Màu nền cho TableView */
}

.table-view .table-header {
    -fx-background-color: #4caf50; /* Màu nền cho header */
    -fx-text-fill: white; /* Màu chữ trong header */
}

.table-view .table-header-column {
    -fx-background-color: #4caf50; /* Màu nền cho từng cột trong header */
    -fx-text-fill: white; /* Màu chữ cho từng cột trong header */
}

.table-view .table-row-cell {
    -fx-background-color: white; /* Màu nền cho các hàng */
}

.table-view .table-row-cell:hover {
    -fx-background-color: #CED1E6; /* Màu nền khi di chuột qua hàng */
}
.btnprofile:hover{
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.date:disabled{
    -fx-opacity: 1.0;
    -fx-text-fill: #252424; 
    -fx-font-weight: bold; 
    -fx-font-size: 14px; 
}
.sex:disabled{
    -fx-opacity: 1.0;
    -fx-text-fill: #252424; 
    -fx-font-weight: bold; 
    -fx-font-size: 14px; 
}
.fade-label {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}